<html>
<head>
    <title>Ketan First DjangoGirl page</title>
</head>
<body>
<div>
    <h1><a href="">Django what's up this is very cool</a></h1>
</div>

<div>
    <p>published: 14.06.2014, 12:14</p>
    <h2><a href="https://theorchard.com">The Orchard</a></h2>
    <p>What a beautiful day today</p>
</div>

<div>
    <p>published: 14.06.2014, 12:14</p>
    <h2><a href="https://yahoo.com">My Yahoo</a></h2>
    <p>I wish tomorrow will be as good as today</p>
</div>

<div>
    <p>published: 14.06.2014, 12:14</p>
    <h2><a href="https://oa.theorchard.com">Orchard OA</a></h2>
    <p>Man i am likeing this Django stuff</p>
    <p>published: 14.06.2014, 12:14</p>
</div>
</body>
</html>